:root{
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secondary: #03B898;
    --grey-one: #F8F9FA;
    --grey-two: #E9ECEF;
    --grey-three: #868E96;
    --grey-four: #212529;
}